html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f8f8;
}

@font-face {
    font-family: "Phyrexian Regular";
    src: url("../fonts/Phyrexian-Regular.ttf");
  }

  .header{
    top: 0;
    left: 0;
    border-style: solid;
    border-left: 3px;
    border-top: 3px;
    position: fixed;
    font-family: Phyrexian Regular;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.header a{
    color: black;
    text-decoration: none;
    writing-mode: vertical-lr;
}

.content-wrapper{
    width: 80%;
    margin: auto;
    margin-top: 10vh;
}

.entries-wrapper{
    display: flex;
    justify-content: space-around;

}

.phy_fonted {
    font-family: Phyrexian Regular;
}

.entries-samples{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.entries-samples h3{
    text-align: center;
}

.entry-phy{
    align-self: center;
}

.entry-phy p {
    writing-mode: vertical-lr;
    font-size: 40pt;
}

.entry-info{
    align-self: center;
    width: 80%;
}

.sample-img{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}

.sample-img img{
    max-height: 300px;
}

.entry-table{
    border-collapse: collapse;
    margin: auto;
}

.entry-table td, th{
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}

.hover-img-link span{
    position:absolute;
    display:none;
    z-index:99; 
    pointer-events: none;
}

.hover-img-link:hover span{
    display: inline;
}

.divider{
    width: 100%;
    background-color: black;
    height:3px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #050505;
        color: #E7E8EB;
    }
    a {
        color: #3387CC;
    }
    
    .divider{
        background-color: #E7E8EB;
    }
    
    .header a{
        color: #E7E8EB;
    }
}