html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Phyrexian Regular";
    src: url("../fonts/Phyrexian-Regular.ttf");
  }

  .header{
    top: 0;
    left: 0;
    border-style: solid;
    border-color: black;
    border-left: 3px;
    border-top: 3px;
    position: fixed;
    font-family: Phyrexian Regular;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.header a{
    color: black;
    text-decoration: none;
    writing-mode: vertical-lr;
}

.content-wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}

.entry-phy{
    align-self: center;
}

.entry-phy p {
    writing-mode: vertical-lr;
    font-size: 40pt;
}

.phy_fonted {
    font-family: Phyrexian Regular;
}

.entry-info{
    align-self: center;
    width: 80%;
}

.entry-table{
    border-collapse: collapse;
    margin: auto;
}

.entry-table td, th{
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}

.divider{
    width: 100%;
    background-color: black;
    height:3px;
}