<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="ugrKjmmIwL1UaWc59pfTaPa-X3CAjFJfFWTObbhhUps" />

    <title>{{ page.title }}</title>
    <meta name="description" content="Osmago's version of the Phyrexian Dictionary v3">
    <meta name="author" content="Felipe Xavier Buson">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.ico">

    <!-- <script src="https://cdn.jsdelivr.net/npm/table-sort-js/table-sort.min.js"></script> -->

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    
    <script
    src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
    crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>



</head>
<body>
    <div class="content-wrapper">
        {{ content }}
        <div class="divider"></div>
        <p>Felipe Xavier Buson</p>
        <p>Last updated 15/12/2023</p>
    </div>  
</body>

<script>
    new DataTable('#word_list', {paging: false, scrollY: 400});
</script>