<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    <meta name="description" content="Osmago's version of the Phyrexian Dictionary v3">
    <meta name="author" content="Felipe Xavier Buson">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/table-sort-js/table-sort.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/rangy"></script>

</head>
<body>
    <div class="content-wrapper">
        <div class="header">
            <a href="{{ site.baseurl }}">'iixtfu'q</a>
        </div>
        {{ content }}
    </div>
</body>